{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Barang</h1>
		<button type="button" data-toggle="modal" data-target="#barangModal"
			class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> Add
			Barang</button>
	</div>
	<div class="col">
		<form method="get">
			{{myfilter.form}}
			<br>
			<button class="btn btn-primary" type="submit">Search</button>
		</form>
	</div>
</div>
<hr>
<style>
	#tablebarang_filter {
		float: right;
	}

	#tablebarang_paginate {
		float: right;
	}
</style>
<div class="container-fluid">
	{% for message in messages %}
	<div class="alert alert-warning" role="alert">
		{{message}}
	</div>
	{% endfor %}
	<div class="table-responsive mb-4 p-2">
		<table id="tablebarang" class="table table-bordered table-striped w-100" style="color: black;">
			<thead>
				<tr>
					<th scope="col">Nama Barang</th>
					<th scope="col">Kategori</th>
					<th scope="col">Ditambahkan Tanggal</th>
					<th scope="col">Diubah Tanggal</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for i in orders %}
				<tr>
					<td>{{i.nama}}</td>
					<td>{{i.kategori}}</td>
					<td>{{i.created_at|date:'d F Y, H:i e'}}</td>
					<td>{{i.updated_at|date:'d F Y, H:i e'}}</td>
					<td>
						<form action="{% url 'delBarang' i.id %}" method="post" style="display: inline-block;">
							{%csrf_token%}
							<button type="submit" class="btn btn-danger btn-sm"
								onclick="return confirm('Yakin ingin menghapus {{i.nama}} dari barang?')">Hapus</button>
						</form>

						<button id="btneditbarang" type="button" data-toggle="modal" data-target="#barangEditModal"
							data-kategori="{{i.kategori.id}}" data-nama="{{i.nama}}" data-stok="{{i.stok}}"
							data-id="{{i.id}}" data-hargabeli="{{i.harga_beli}}" data-hargajual="{{i.harga_jual}}"
							data-supplier="{{i.supplier.all.id}}" class="btn btn-info btn-sm mr-2">Edit</button>

						<button type="button" class="btn btn-primary btn-sm" data-id="{{i.id}}" data-toggle="modal"
							data-target="#logbarang">
							Log Barang
						</button>

					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr>
	</div>
</div>

<div class="modal fade" id="barangModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Tambah Barang</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputEmail1">Nama Barang</label>
						{{form.nama}}
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Kategori Barang</label>
						{{form.kategori}}
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Supplier</label>
						{{form.supplier}}
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSave" onclick="return confirm('Apakah data sudah benar?')"
					class="btn btn-primary">Tambah</button>
			</div>
			</form>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="barangEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Barang</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="formeditbarang" class="modal-body" data-barang-url="{% url 'loadbarang' %}">

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="logbarang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-lFabel="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="logwrapper" data-log-url="{% url 'loadlog' %}">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('select').select2({
			width: '100%'
		});
	});
</script>

<script>
	$('#barangEditModal').on('show.bs.modal', function (event) {
		console.log("modalopened")
		var button = $(event.relatedTarget);

		var url = $("#formeditbarang").attr("data-barang-url"); // get the url of the `load_cities` view
		var barangid = button.data('id'); // get the selected country ID from the HTML input

		$.ajax({ // initialize an AJAX request
			url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'barang': barangid // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				$("#formeditbarang").html(
					data
				); // replace the contents of the city input with the data that came from the server
			}
		});
	});
</script>

<script>
	$('#logbarang').on('show.bs.modal', function (event) {
		console.log("modalopened")
		var button = $(event.relatedTarget);
		var url = $("#logwrapper").attr("data-log-url"); // get the url of the `load_cities` view
		var barangid = button.data('id'); // get the selected country ID from the HTML input

		$.ajax({ // initialize an AJAX request
			url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'barang': barangid // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				$("#logwrapper").html(
					data
				); // replace the contents of the city input with the data that came from the server
			}
		});
	});
</script>



<script>
	$(document).ready(function () {
		var table = $('#tablebarang').DataTable({
			"columnDefs": [{
				"orderable": false,
				"searchable": false,
				"targets": 2
			}],
			buttons: [{
					extend: 'excelHtml5',
					exportOptions: {
						columns: ':visible'
					}
				},

				{
					extend: 'print',
					exportOptions: {
						columns: ':visible'
					}
				},
				'colvis',
			],
			"aLengthMenu": [
				[5, 10, 25, -1],
				[5, 10, 25, "All"]
			],
			"iDisplayLength": 10
		});

		table.buttons().container()
			.appendTo('#tablebarang_wrapper .col-md-6:eq(0)');
	});
	/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
	//We start indexing at one because CSRF_token is considered and input field
	 */

	//Query All input fields
	var select_fields = document.getElementsByTagName('select')

	var input_fields = document.getElementsByTagName('input')


	for (var field in select_fields) {
		select_fields[field].className += ' form-control'
	}
	for (var field in input_fields) {
		input_fields[field].className += ' form-control'
	}
</script>

{% endblock %}