{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
{% for message in messages %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modalalert">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Peringatan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger btn sm" href="{{url}}">Lihat Transaksi</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Peforma Toko Hari Ini</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Perkiraan laba penjualan Hari ini
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rp. {{ totaluntung|intcomma }}</div>
            </div>

            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Perkiraan omset penjualan hari ini
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Rp.{% if totalomset.total__sum == None %} 0 {%else%} {{ totalomset.total__sum|intcomma }} {%endif%}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Barang Terlaris Hari Ini</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if most.count == 0 %}
                0 Barang
                {% else %}{% for i in most %} {{i.barang}} {% endfor %}{% endif %}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-boxes fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Jumlah Transaksi hari ini</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tottrans.count }} Transaksi</div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{ total.total__sum|intcomma }}</div> -->
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <hr>
  <h1 class="h3 mb-0 text-gray-800 mb-4">Trafik Barang Hari Ini</h1>
  <div class="table-responsive mt-4 p-2">
    <table id="inoutharian" class="table table-striped table-bordered" style="color: black;">
      <thead>
        <th>Nama Barang</th>
        <th>Supplier</th>
        <th>Barang Masuk</th>
        <th>Barang Keluar</th>
        <th>Stok Terkini</th>
      </thead>
      <tbody>
        {% for i in inout %}
        <tr>
          <td>{{i.barang__nama}}</td>
          <td>{{i.supplier__nama}}</td>
          <td>{% if i.din == None%} - {%else%} {{i.din}} {%endif%}</td>
          <td>{% if i.dcount == None%} - {%else%} {{i.dcount}} {%endif%}</td>
          <td>{{i.stok}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div id="tanggalprint" style="display: none;">
  {{tanggalprint}}
</div>

<script>
  $(document).ready(function () {
    $('#modalalert').modal("show");

    var tanggal = $('#tanggalprint').html()
    var table = $('#inoutharian').DataTable({
        // "columnDefs": [
        //   { "orderable": false, "searchable": false, "targets": 5 }
        // ],
        buttons: [{
            extend: 'excelHtml5',
            exportOptions: {
              columns: ':visible'
            }
          },

          {
            extend: 'print',
          },
        'colvis',
      ],
      "aLengthMenu": [
        [5, 10, 25, -1],
        [5, 10, 25, "All"]
      ],
      "iDisplayLength": 5
    });

  table.buttons().container()
  .appendTo('#inoutharian_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}