{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-1">
		<h1 class="h3 mb-0 text-gray-800">Transaksi Masuk</h1>
	</div>
</div>
<style>
	#tabletransaksi_filter {
		float: right;
	}

	#tabletransaksi_paginate {
		float: right;
	}
</style>
<div class="container-fluid">
	{% for message in messages %}
	<div class="alert alert-warning" role="alert">
		{{message}}
	</div>
	{% endfor %}
	<div id="tabletransaksi_wrap" data-table-url="{% url 'tabletransaksi_ajax' %}" class="table-responsive p-2"
		style="min-height: 350px;">
		<table id="tabletransaksi" class="table table-bordered table-striped w-100" style="color: black;">
			<thead>
				<tr>
					<th scope="col">Nama Barang</th>
					<th scope="col">Kategori</th>
					<th scope="col">Supplier</th>
					<th scope="col">Harga</th>
					<th scope="col">Status</th>
					<th scope="col">Qty</th>
					<th scope="col">Sub Total</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- 	    {% if dtransaksi.count == 0 %}
	    <tr>
	    	<th colspan="7" class="text-muted text-center p-4">Belum ada item yang dimasukkan</th>
	    </tr>
	    {% else %} -->
				{% for i in dtransaksi %}
				<tr>
					<td>{{i.barang}}</td>
					<td>{{i.barang.kategori}}</td>
					<td>{{i.supplier}}</td>
					<td>Rp.{{i.harga|intcomma}}</td>
					<td>{{i.status}}</td>
					<td>{{i.qty}}</td>
					<td>Rp.{{i.total|intcomma}}</td>
					<td>
						<button id="deletebtn" class="btn btn-danger btn-sm" data-id="{{i.id}}"
							data-delete-url="{% url 'deletetrajax' %}">Hapus</button>
					</td>
				</tr>
				{% endfor %}
				<!-- 	    {% endif %} -->
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="transaksiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tambah Barang ke Transaksi</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formtransaksi" method="post" data-supplier-url="{% url 'loadsupplier' %}">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_barang">Nama Barang</label>
							{{form.barang}}
						</div>
						<div class="form-group">
							<label for="id_barang">Supplier</label>
							{{form.supplier}}
						</div>
						<div class="form-group">
							<label for="id_barang">Harga Jual</label>
							{{form.harga_jual}}
						</div>
						<div class="form-group">
							<label for="id_barang">Harga Beli</label>
							{{form.harga_beli}}
						</div>
						<!-- <div class="form-group"> -->
						<!-- <label for="exampleInputPassword1">Status</label> -->
						{{form.status.as_hidden}}
						<!-- </div> -->
						<div class="form-group">
							<label for="exampleInputPassword1">Qty</label>
							{{form.qty}}
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Tambah</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<hr>

	<div class="row py-4">

		<!-- <div class="col-xl-3 col-md-6 mb-4">
	      <div class="card border-left-primary shadow py-2" style="min-height: max-content">
	        <div class="card-body">
	          <div class="row no-gutters align-items-center">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Item</div>
	              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if totali.qty__sum == None %} 0{% else %} {{totali.qty__sum}}{% endif %}</div>
	            </div>
	            <div class="col-auto">
	              <i class="fas fa-boxes fa-2x text-gray-300"></i>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div> -->

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow py-2" style="max-height: max-content">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2" id="total_wrap" data-total-url="{% url 'gettotal' %}">

						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" value="{{total.total__sum}}" id="totalforkembalian">
</div>

<script>
	$(document).ready(function () {
		var url = $("#tabletransaksi_wrap").attr("data-table-url");

		$.ajax({
			url: url,
			success: function (data) {
				$("#tabletransaksi_wrap").html(data);
			}
		});

		$("#formtransaksi").submit(function (e) {
			// prevent from normal form behaviour

			e.preventDefault();
			// serialize the form data  

			var serializedData = $(this).serialize();
			$.ajax({
				type: 'POST',
				url: "{% url 'transaksimasuk' %}",
				data: serializedData,
				success: function (response) {
					//reset the form after successful submit

					$("#formtransaksi")[0].reset();
					$('#transaksiModal').modal('hide');
					var urlreload = $("#tabletransaksi_wrap").attr("data-table-url");

					$.ajax({
						url: urlreload,
						success: function (data) {
							$("#tabletransaksi_wrap").html(data);
						}
					});

					var urltotal = $("#total_wrap").attr("data-total-url");

					$.ajax({
						url: urltotal,
						success: function (data) {
							$("#total_wrap").html(data);
						}
					});

				},
				error: function (response) {
					console.log(response)
				}
			});
		});
	});
</script>

<script>
	$(document).ready(function () {
		var count = "{{jumlah}}"
	    console.log(count)

	    if (parseInt(count) > 0) {
	        $('#selesaibutton').removeClass("disabled");
	    }

	    if (parseInt(count) == 0) {
	        $('#selesaibutton').addClass("disabled");
	    }

		$('#id_status').val('Masuk')


		// $( "#hitungkembalian" ).click(function() {
		// 	// console.log('test')
		// 	var total = $("#totalforkembalian").val()
		// 	// console.log(total)
		// 	var cash = $("#totalcash").val()
		// 	// console.log(cash)
		// 	var kembalian = cash - total

		// 	if (cash<total) {
		// 		return alert("Uang bayar kurang!")
		// 	}else{
		// 		return $('#totalkembalian').val(kembalian)
		// 	}
		// });


		var total = $("#total").html();
		var table = $('#tabletransaksi').DataTable({
			"columnDefs": [{
				"orderable": false,
				"searchable": false,
				"targets": 6
			}],
			buttons: [{
					extend: 'print',
					exportOptions: {
						columns: ':visible',
					},
					customize: function (win) {
						$(win.document.body).append(
							$('<div>').prop({
								id: 'tambahan',
								innerHTML: 'Total Belanja: ' + total,
							}));
					}
				},
				'colvis',
			],
			"aLengthMenu": [
				[5, 10, 25, -1],
				[5, 10, 25, "All"]
			],
			"iDisplayLength": 10
		});

		table.buttons().container()
			.appendTo('#tabletransaksi_wrapper .col-md-6:eq(0)');
	});
</script>

<script>
	$(document).ready(function () {
		var urltotal = $("#total_wrap").attr("data-total-url");

		$.ajax({
			url: urltotal,
			success: function (data) {
				$("#total_wrap").html(data);
			}
		});

		$('#id_barang').select2({
			width: '100%'
		});
	});

	$(document).ready(function () {
		$('#id_supplier').select2({
			width: '100%'
		});
	});
</script>

<script>
	$("#id_barang").change(function () {
		console.log("Changed")
		var url = $("#formtransaksi").attr("data-supplier-url"); // get the url of the `load_cities` view
		var barangid = $(this).val(); // get the selected country ID from the HTML input

		$.ajax({ // initialize an AJAX request
			url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'barang': barangid // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				$("#id_supplier").html(
				data); // replace the contents of the city input with the data that came from the server
			}
		});
	});
</script>

<script>
	/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
 */

	//Query All input fields
	var select_fields = document.getElementsByTagName('select')

	var input_fields = document.getElementsByTagName('input')


	for (var field in select_fields) {
		select_fields[field].className += ' form-control'
	}
	for (var field in input_fields) {
		input_fields[field].className += ' form-control'
	}
</script>
{% endblock %}